# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 仮想環境
# =========================
venv/
.env/
.venv/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# データ（超重要）
# =========================
data/
*.dcm
*.nii
*.nii.gz
*.nrrd

# =========================
# 大きい中間データ
# =========================
*.npy
*.npz
*.pkl

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/